<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles/main.css" />

  <title>my multi user blog</title>
</head>

<body>
  <a href="/" class="main-title">
    my multi user blog
  </a>

  <div class="login-area">
    {% if user %}
      <a class='login-link' href='/blog/newpost'>new post</a>
      |
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>
