{% extends "base.html" %}

{% block content %}
  <br>
  <h2>edit post</h2>
    <form method="post">
      <label>delete post
        <input type="checkbox" name="delete-checkbox">
      </label>
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="Submit">
      <button><a class="not-underlined-link" href="{{post_link}}">Cancel</a></button>
    </form>
{% endblock %}
