<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a class="not-underlined-link" href="/blog/{{p.key().id()}}">{{p.subject}}</a>
    </div>
    Posted by: {{p.username}}
    <div class="post-date">
     <a class="not-underlined-link" href="/blog/like/{{p.key().id()}}">like post</a>
     |
     likes: {{p.likes}}
     |
     <a class="not-underlined-link" href="/blog/edit/{{p.key().id()}}">edit post</a>
     |
     {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
